.features .list {
  margin-right: 0px;
  margin-left: 0px;

  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.features-item {
  margin-right: 0px;
  margin-bottom: 30px;
  width: 450px;

  @include for-size(tablet-landscape) {
    width: calc((100% - 30px) / 2);
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @include for-size(laptop) {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0px;
  }
}
.item-image {
  width: 450px;
  height: 120px;
  background: $background-color;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @include for-size(tablet-landscape) {
    width: 354px;
  }
  @include for-size(laptop) {
    width: 270px;
  }
}
.item-icon {
  width: 70px;
  height: 70px;
}
