.subscribe {
  background-color: $acent-text-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  padding: 10px 30px;
  border-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  justify-content: space-between;
  &-container {
    display: inline-block;
    margin-right: 0px;
  }
  & a {
    margin-right: 4px;
  }
}
