.gallery-element {
  list-style: none;
  width: calc((100% - 70px) / 3);
  margin-left: 0px;
  padding-right: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: $title-text-color;
  border: 1px solid $border-gallery-color;
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}
.gallery-hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $gallery-hover-bcg;
  height: 294px;
  width: 370px;
  transform: translateY(300px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  & p {
    padding-left: 23px;
    padding-top: 63px;
    padding-right: 23px;
  }
}
