.gallery-element {
  list-style: none;
  margin-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
  background: $title-text-color;
  border: 1px solid $border-gallery-color;
  @include for-size(tablet-portrait) {
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
  @include for-size(tablet-landscape) {
    //width: calc((100% - 23px) / 2);
    //height: 400px;
    margin-right: 0px;

    margin-right: 23px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-child(7n) {
      margin-bottom: 30px;
    }
  }
  @include for-size(laptop) {
    margin-right: 0px;
  }
  //width: calc((100% - 60px) / 3);
}
.gallery-hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $gallery-hover-bcg;
  //height: 294px;
  //width: 370px;
  transform: translateY(310px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  & p {
    padding-left: 23px;
    padding-top: 63px;
    padding-right: 23px;
  }
}
