.hero {
  background-color: $secondary-background-color;
  color: $title-text-color;
  text-align: center;
  margin-bottom: 60px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/Header-mobile1x.png);
  @media screen and (min-device-pixel-ratio: 2) and(max-width:767px),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    height: 400px;
    max-width: 480px;
    background-size: initial;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/Header2.png);
  }
  @include for-size(tablet-portrait) {
    height: 400px;
    background-size: 768px 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/Header-tablet.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/tablet/Header-tablet2x.png);
      }
    }
  }
  @include for-size(laptop) {
    height: 600px;
    max-width: 1600px;
    background-size: 1600px 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/Header.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/Header-2x.png);
    }
  }

  & h1 {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 118px;
    display: block;
    @include for-size(laptop) {
      font-size: 44px;
      line-height: 1.36;
      padding-top: 200px;
    }
  }
  & a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: $title-text-color;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
