.portf {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 94px;
  padding-left: 0px;
  padding-right: 0px;
  &-text h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $h-text-color;
    padding-bottom: 4px;
  }
  & .type {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  & p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  &-text {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
