.mobile-menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  //position: absolute;
  //top: 10px;
  //right: 10px;
  &.icon-close {
    display: none;
  }
  &.icon-menu {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &.is-open .icon-close {
    outline: none;
  }

  &:hover .icon-close,
  &:focus .icon-close,
  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: $acent-text-color;
  }
  .icon-menu,
  .icon-close {
    fill: $logo-color;
    transition: fill $timing-function;
  }
  @include for-size(tablet-landscape) {
    display: none;
  }
}
