h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  background-color: $title-text-color;
  color: $primary-text-color;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
:focus {
  outline-color: $acent-text-color;
}
.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(tablet-portrait) {
    width: 450px;
  }
  @include for-size(tablet-landscape) {
    width: 738px;
  }
  @include for-size(laptop) {
    width: 1170px;
  }
}
//* {
// outline: 2px solid tomato;
//}
.main-menu {
  align-items: center;
  @include for-size(tablet-landscape) {
    display: flex;
  }
}
.link {
  color: $h-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $acent-text-color;
  }
  &:focus {
    color: $acent-text-color;
    outline-color: $acent-text-color;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
